fastapi
uvicorn[standard]
python-docx
pdfplumber
langchain
faiss-cpu
openai
pydantic
streamlit
langchain-community
pysqlite3-binary>=0.0.6
duckdb
tiktoken
sentence-transformers
torch>=1.12.0
gpt4all
transformers
